<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<!--<bean id="userDao" class="com.web.controller.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManagerBese" class="com.web.controller.service.UserManager">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userManager" parent="transactionBese">
		<property name="target" ref="userManagerBese"></property>
	</bean>-->

    <bean id="testSpring" class="com.adserver.service.TestSpring"></bean>

    <bean id="userDao" class="com.adserver.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userServiceBase" class="com.adserver.service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userService" parent="transactionBase">
        <property name="target" ref="userServiceBase"></property>
    </bean>

</beans>
