<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<!--<bean id="userDao" class="com.web.controller.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userManagerBese" class="com.web.controller.service.UserManager">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userManager" parent="transactionBese">
		<property name="target" ref="userManagerBese"></property>
	</bean>-->

    <bean id="testSpring" class="com.adserver.service.TestSpring"></bean>

    <bean id="userDao" class="com.adserver.dao.impl.UserDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userServiceBase" class="com.adserver.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="userService" parent="transactionBase">
        <property name="target" ref="userServiceBase"></property>
    </bean>
    
    <bean id="menuDao" class="com.adserver.dao.impl.MenuDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
      <bean id="menuServiceBase" class="com.adserver.service.impl.MenuServiceImpl">
        <property name="menuDao" ref="menuDao"></property>
    </bean>

    <bean id="menuService" parent="transactionBase">
        <property name="target" ref="menuServiceBase"></property>
    </bean>
    
    
    <bean id="devicePropertyDao" class="com.adserver.dao.impl.DevicePropertyDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="devicePropertyServiceBase" class="com.adserver.service.impl.DevicePropertyService">
         <property name="devicePropertyDao" ref="devicePropertyDao"></property>
    </bean>
    
    <bean id="devicePropertyService" parent="transactionBase">
        <property name="target" ref="devicePropertyServiceBase"></property>
    </bean>
    

</beans>
